<form action="/user_login" method="post" id="login">
  <h2>Log In</h2>

  <% if(error_message.length > 1){ %><div class="alert alert-danger"><p><%= error_message %></p></div><% } %>

  <label for="email">E-Mail</label>
  <input type="text" value="" name="email" />
  
  <label for="password">Password</label>
  <input type="password" value="" name="password" />
  
  <div class="submit">
    <button>Log In</button>
  </div>
</form>
